body{
    width: 100%;
    background-image: url("../images/webb.png");

}

.content{
    
}
.heading{
    background-color: #ffffff;
    border: solid #cccccc;
    width: 100%; 
    height: 100px;
    margin: 0px;
}




h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 250px;
    float: left;
}

h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
hr{
    border-top: 1px solid #cccccc;
}
.bio {
    width: 960;
    margin: 50px 250px -50px 250px;
    background-color: #ffffff;
    border: solid #dddddd;
    padding: 20px;
}
.bio-pic{
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 20px 10px 0px;
}
.contact{
    width: 960;
    margin: 50px 250px -50px 250px;
    background-color: #ffffff;
    border: solid #dddddd;
    padding: 20px;
}
input[type=text], textarea{
    width: 100%;
    padding: 5px 0px;
    border: 1px solid #cccccc;
    resize: vertical;

}
input[type=email]{
    width: 100%;
    padding: 5px 0px;
    border: 1px solid #cccccc;
    resize: vertical
}
input[type=submit]{
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #397c79;
}
.portfolio{
    width: 960;
    margin: 50px 250px -50px 250px;
    background-color: #ffffff;
    border: solid #dddddd;
    padding: 20px;
}
.footer{
    text-align: center;
    background-color: #666666;
    font-family: 'Arial', 'helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding-top: 30px;
    border-top: 8px solid #4aaaa5;
    height: 50px;

}
.push{
    height: 100px;
}