body{
    width: 100%;
    background-image: url("../images/webb.png");

}

.content{
    
}
.heading{
    background-color: #ffffff;
    border: solid #cccccc;
    width: 100%; 
}




h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.bio {
    width: 960;
    margin: 50px 250px -50px 250px;
    background-color: #ffffff;
    border: solid #dddddd;
    padding: 20px;
}
.bio-pic{
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 20px 10px 0px;
}
.contact{
    width: 960;
    margin: 50px 250px -50px 250px;
    background-color: #ffffff;
    border: solid #dddddd;
    padding: 20px;
}

.portfolio{
    width: 960;
    margin: 50px 250px -50px 250px;
    background-color: #ffffff;
    border: solid #dddddd;
    padding: 20px;
}
.footer{
    text-align: center;
    background-color: #666666;
    font-family: 'Arial', 'helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding-top: 30px;
    border-top: 8px solid #4aaaa5;
    height: 50px;

}
.push{
    height: 50px;
}