body{
    width: 100%;
    background-image: url("../images/webb.png");

}

.content{
    width: 960px;
    margin-left: 250px;
    margin-right: 250px;
}





h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.bio{
    background-color: #ffffff;
    border: solid #dddddd;
    padding: 20px;
    
}
.bio-pic{
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 20px 10px 0px;
}